
/.direnv
/.zig-cache
/.cache
/compile_commands.json
/zig-out
/tmp
/images
/imgui.ini
/screenshots/*.png

/assets/*.png
/assets/*.obj
/assets/*.mtl
/assets/*.glb
/assets/*.gltf
/assets/*.bin
/assets/**/*.mp3
/assets/**/*.wav
